@font-face {
  font-family: "MyWebFont";
  src: url("../asset/Calibri.ttf") format("truetype");
}
@font-face {
  font-family: "MyWebFont2";
  src: url("../asset/OpenSans-Regular.ttf") format("truetype");
}
body {
  font-family: "MyWebFont";
}
body h1 {
  margin: 15px 0 0 20px;
  font-weight: bold;
  color: #2c445a;
}
body hr {
  margin-bottom: 30px;
}
body .wrapper-header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #5a5a5a;
          box-shadow: 0 0 10px #5a5a5a;
  margin: 0 0 20px 0;
}
body .wrapper-header h4 {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #97bfd6;
}
body .wrapper-header .row .wrapper-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}
body .wrapper-header .row .wrapper-data pre {
  font-size: calc(1rem + 0.35vw);
}
body .wrapper-header .row .wrapper-data pre span {
  font-family: MyWebFont;
}
body .wrapper-header .wrapper-button {
  text-align: right;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
  body {
    font-family: "MyWebFont";
  }
  body h1 {
    margin: 15vh 0 0 20px;
    font-weight: bold;
    color: #ededed;
  }
  body hr {
    color: white;
  }
}