@font-face {
  font-family: "MyWebFont";
  src: url("../asset/Calibri.ttf") format("truetype");
}
body header {
  background-color: #2c445a;
  top: 0;
  right: 0;
  left: 0;
  bottom: 90%;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0px 9px 41px -23px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 9px 41px -23px rgba(0, 0, 0, 0.75);
}
body .container-fluid .row .wrapper-sidebar {
  position: relative;
  height: 100vh;
}
body .container-fluid .row .wrapper-sidebar .sidebar {
  background-color: #2c445a;
  z-index: 9999;
  font-family: "myWebFont";
  position: fixed;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  /* Custom scrollbar for Chrome, Safari and Opera */
  /* End Custom scrollbar for Chrome, Safari and Opera */
}
body .container-fluid .row .wrapper-sidebar .sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
body .container-fluid .row .wrapper-sidebar .sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body .container-fluid .row .wrapper-sidebar .sidebar::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94));
}
body .container-fluid .row .wrapper-sidebar .sidebar::after {
  content: "";
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  display: none;
  top: 0;
  bottom: 0;
  left: 66.66%;
  right: 0;
  position: fixed;
  z-index: 1;
}
body .container-fluid .row .wrapper-sidebar .sidebar img {
  width: 100%;
  margin: 10px 0 0 -8px;
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar {
  font-size: calc(1vw + 0.3rem);
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar .fas span {
  font-family: "myWebFont";
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 0 0;
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav h6 {
  font-size: calc(0.8vw + 0.3rem);
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav hr {
  margin: 0 20px 10px 0px;
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav .fas {
  margin-left: -10px;
  padding: 10px;
  cursor: pointer;
  font-size: calc(1vw + 0.3rem);
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav .fas:hover {
  background-color: #ededed;
  color: #2c445a;
}
body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav .fas span {
  font-family: "myWebFont";
}
body .container-fluid .row .wrapper-sidebar .blur-background {
  height: 100%;
  background: #000;
}

@media only screen and (max-width: 766px) {
  body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav h6 {
    font-size: calc(0.5vw + 0.7rem);
  }
  body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav .fas {
    font-size: calc(0.5vw + 0.7rem);
  }
  body .container-fluid .row .wrapper-sidebar .sidebar .navbar .grup-nav .fas span {
    font-size: calc(0.5vw + 0.7rem);
  }
}
@media only screen and (max-width: 576px) {
  body {
    background-color: #2c445a;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header i {
    font-size: 8vw;
    margin: 0 7% 0 5%;
    color: #ededed;
  }
  body header img {
    display: inline-block;
    width: 70%;
  }
  body .wrapper-all .row .wrapper-sidebar {
    position: absolute;
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar {
    background-color: white;
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar::after {
    display: block;
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar .toggle {
    color: #2c445a;
    text-align: center;
    margin-top: 20px;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    font-size: calc(5vw + 1rem);
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar .toggle .fas {
    font-size: calc(3vw + 1rem);
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar .navbar {
    color: #2c445a;
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar .navbar .grup-nav h6 {
    font-size: calc(1vw + 1rem);
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar .navbar .grup-nav hr {
    margin: 0 20px 10px 0px;
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar .navbar .grup-nav .fas {
    font-size: calc(1.5vw + 1rem);
  }
  body .wrapper-all .row .wrapper-sidebar .sidebar .navbar .grup-nav .fas span {
    font-size: calc(1.5vw + 1rem);
  }
}