@font-face {
  font-family: "MyWebFont";
  src: url("../asset/Calibri.ttf") format("truetype");
}
@font-face {
  font-family: "MyWebFont2";
  src: url("../asset/OpenSans-Regular.ttf") format("truetype");
}

$warna1: #2c445a;
$warna2: #ededed;
$warna3: #97bfd6;
