body {
  header {
    height: 70px;
    background-color: #97bfd6;
    //   border: 1px solid red;
    .admin {
      a {
        line-height: 70px;
        float: right;
        color: white;
        padding: 0 5px;
        font-weight: bold;
      }
      img {
        float: right;
        width: 50px;
        margin: 10px 20px 10px 10px;
      }
    }
  }
}
