* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  //   border: 1px solid blue;
}

a {
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.input,
select {
  width: 100%;
  padding: 5px;
  height: 35px;
  border: 1px solid #2c445a;
  border-radius: 5px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 5px;
  height: 80px;
  border: 1px solid #2c445a;
  border-radius: 5px;
  margin-bottom: 20px;
}

body {
  background-color: #ededed;
  .konten {
    width: 85vw;
    float: right;
    .dataPesanan {
      padding: 20px;
      h2 {
        padding: 20px 0;
        border-bottom: 2.5px solid #d6d6d6;
      }
      .detailPesanan {
        margin-top: 25px;
        // padding: 15px;
        // border-radius: 10px;
        background-color: white;
        h3 {
          color: white;
          padding: 15px 30px;
          background-color: #97bfd6;
          //   border-radius: 10px;
        }
        .detail {
          padding: 30px;
          display: flex;
          .foto {
            width: 50%;
            padding-right: 20px;
            border-right: 2px solid #d6d6d6;
            .nohpKelamin {
              display: flex;
              .nohp {
                width: 50%;
                margin-right: 10px;
              }
              .kelamin {
                width: 50%;
                margin-left: 10px;
              }
            }
          }
          .data {
            width: 50%;
            padding-left: 30px;
            p {
              color: #8d8c8c;
              margin-bottom: 12px;
            }
          }
        }
        .buttons {
          display: flex;
          justify-content: flex-end;
          padding: 30px;
          //   margin-top: 40px;
          button {
            padding: 8px 12px;
            margin: 0 5px;
            color: white;
            border: 0;
            border-radius: 10px;
          }
          .submit {
            background-color: #53cd6e;
          }
          .cancel {
            background-color: #dd4c3c;
          }
          button:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    }
  }
}
