body {
  .navbarLeft {
    display: flex;
    flex-direction: column;
    background-color: #2c445a;
    max-width: 15vw;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    .logo {
      display: block;
      margin: auto;
      padding: 10px;
      margin-bottom: 10px;
    }
    .ikon {
      width: 22px;
      margin-bottom: -6px;
    }
    h3 {
      color: white;
      padding: 10px 10px 40px 10px;
      text-align: center;
    }
    div {
      margin-bottom: 10px;
    }
    div:hover {
      background-color: white;
      a {
        color: #2c445a;
      }
    }
    a {
      color: white;
      display: inline-block;
      padding: 10px;
      font-weight: bold;
      top: 0;
      font-size: 11pt;
    }
    p {
      text-align: left;
      color: white;
      padding: 7px 0;
      font-size: 10pt;
      margin: 0 2vw;
    }
    span.arrow {
      cursor: pointer;
      text-align: center;
      font-size: calc(2vw + 1rem);
      color: rgb(41, 223, 168);
      .fa-exchange-alt {
        &:hover {
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  body {
    div.navbarLeft {
      text-align: center;
      img.logo {
        display: none;
      }
      p {
        display: none;
      }
      div {
        a {
          font-size: calc(3vw + 1rem);
          span {
            display: none;
          }
        }
      }
    }
  }
}
