* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #ededed;
  .konten {
    width: 85vw;
    float: right;
    .dashboard {
      padding: 40px 20px 20px 20px;
      h2 {
        padding: 20px 0;
        border-bottom: 2.5px solid #d6d6d6;
      }
      table {
        // border: 1px solid #ffd200;
        margin-top: 30px;
        width: 100%;
        tr,
        th,
        td {
          padding: 20px;
        }
        td {
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }
        th {
          background-color: #53cd6e;
          color: black;
        }
      }
    }
  }
}
